@{
    ViewBag.Title = "Contact";
}
<main aria-labelle_dby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <address>
        Plum Clinic<br />
        Katowice, Poland<br />
        <abbr title="Phone">tel:</abbr>
        628 182 928
    </address>

    <address>
        <strong>Registration:</strong> <a href="registration@plumclinic.com">registration@plumclinic.com</a>
    </address>
</main>