@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelle_dby="aspnetTitle">
        <h1 id="title">Welcome to Plum Clinic</h1>
        <p class="lead">We are delighted to have you as a part of our healthcare family. Your health and well-being are our top priorities, and our dedicated team is here to provide you with the highest standard of care.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelle_dby="gettingStartedTitle">
            <p>
                For your convenience, you can easily book your appointment with us online or by giving us a call. Whether you need a routine check-up, specialized treatment, or just have some questions, we're here to help.

                Thank you for choosing Plum Clinic. We look forward to serving you and ensuring you receive the best care possible.
            </p>
        </section>
    </div>
</main>